body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Global CSS */


.small-sub {
  font-size: 1.2rem;
  color: var(--primarycolor);
  font-weight: 300 !important;
  margin-bottom: 10px;
}
h1{
  font-size: clamp(2.2rem, 4vw, 3.4rem) !important; 
}
.highlight {
  color: var(--primarycolor);
}